*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  
  

}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/*home */
.hfig{
  margin-top: 100px;
  font-size: 18px;
}



/* Navbar start */









@media screen and (max-width: 400px) {
  body{
    background: green;
    color: #cff8f8;

  }
  .nav-collapse{
    margin-bottom: 10%;
  }
  .h-div{
    font-size: 12px;

  }
  smclass{
    width: 12%;
  }
  .figcap-abt{
    width: 50%;
    height: 50%;
    font-size: 14px;

  }
  .abt-sec-two{
    width: 100%;
    font-size: 15px;
    font-weight: 100;
  }
  .vimg{
    margin-right: 20px;
  }
  .bloc-tabs{
    width: 45%;
    
    font-size: 15px;
  }

  
  
  

  
}


figcaption {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(238, 235, 42);
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position:absolute;
  
  
  
  z-index: 2;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 2.5rem;
  
}
.btn-nav{
  font-size: 20px;
  color: #f7f8ee;
  font-family: 'Courier New', Courier, monospace;
}
.btn-nav:hover{
  color: #ffdd40;
}
.figbtn{
  font-size: 2rem;
  margin: 20px;
  padding: 20px;
  color: #22093d;
  background: rgb(143, 226, 9);
}
.figbtn:hover{
  color: #f0f7f5;
  background:rgb(12, 17, 90);
}
.figure-caption{
  bottom: 5rem;
  color: #f0f7f5;
}
.h1cls{
  margin-top: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: blueviolet;
  font-size: 35px;
}
.h3cls{
  font-size: 2.8rem;
  color: #22093d;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h2cls{
  font-size: 30px;
  font-family: monospace;
  color: #f7f8ee;
  font-weight: 600;
}
.pcls{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #c7e4f5;
  margin-top: 50px;
}
.rent-con{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  margin-top: 20px;
  color: #222;
}
.caro-image-home{
  width: 60%;
  height: 60%;
  
}

/* about */
.abt-pic{
  width: 100%;
  height: 45%;
}
.figcap-abt{
  bottom:50rem;
  width: 80%;
}
.fli-h2{
  font-size: 50px;
  color: #191a17;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}


/* caaard */
/* <img src={props.imgs} className="image-fluid card-img" alt='' /> */
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 20rem));
  gap: 2rem;
  justify-content: center;
  margin: 5% 0%;
}
.wrapper-air {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 20rem));
  gap: 3rem;
  justify-content: center;
  margin: 5% 0%;
}
.card-flight{
  width: auto;
  height: auto;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 10px blue;
  border-radius: radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

  .card-img {
    height: 15rem;
    width: 100%;
    
  }

  .card-title {
    padding: 1rem;
    font-size: 15px;
    font-weight: 600;
  }

  .caed-desc {
    padding: 0 1rem;
    font-size: 25px;
  }

  .card-btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid yellow;
    color: rgb(8, 22, 8);
    border-radius: 15px;
    
  }

  .card-btn:hover {
    transform: scale(1.02);
    background:blue;
    color: #22093d;
  }

  .card-btn:hover .card-btn {
    background: red;
    color: white;
  }


  /*   Tabs */

  .container-tabs {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1000px;
    height: 500px;
    background: #f0f7f5;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .bloc-tabs {
    display: flex;
  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: rgb(12, 212, 28);
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
  }
  
  
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: rgb(238, 245, 223);
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  
  .content p {
    width: 100%;
    height: 28%;
    font-size: 18px;
    font-weight: 300;
    color: rgb(4, 19, 19);
  }
  .active-content {
    display: block;
  }

  /* tabs end */

  /*about sec */
  .abt-sec-two{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
 
/* vacation */
.vac-home{
  background: rgb(19, 141, 131);
  text-align: center;
  padding: 25px;
  margin-left: 90px;
  color: aliceblue;
}
.vacpackdiv{
  bottom: 25rem;
}
.vimg{
  width: 50px;
  height: 45px;
  text-align: center;
  margin-left: 110px;
}
.vimg1{
  width: 100px;
  height: 90px;
  text-align: center;
  margin: 15px;
}
.vbtn{
  width: 50%;
  padding: 20px;
  background-color: #316685;
  color: #f0f7f5;
}
.vbtn:hover{
  background-color: #f7f8ee;
  color: #222;
}
.vbtn1{
  width: 20%;
  padding: 5px;
  color: rgb(83, 240, 69);
  background-color: rgb(20, 26, 26);
  margin-top: 10px;
}
.vbtn2{
  width: 60%;
  padding: 5px;
  color: rgb(83, 240, 69);
  background-color: rgb(20, 26, 26);

}
.fignew{
  width: 100%;
  border: 1px solid black;
  
}
.vbtn3{
  width: 90%;
  height: 100px;
  background-color: #316685;
  color: aqua;
  margin-top: 100px;
  margin-left: 100px;
}
.vbtn3:hover{
  color: #22093d;
  background-color: aliceblue;
}
.h-div{
  color: #cff8f8;
  
}
.preveiw{
  color: #316685;
  font-size: 15px;
}
.pcoun{
  color: red;
  font-size: 17px;
}
.hl-div{
  background-color: #08aeb9;
  color: #fff;
}
.h-ico{
  font-size: 30px;
  color: #ffdd40;
}
.h-div1{
  color: #222;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 32px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.ptitle{
  color: rgb(32, 32, 155);
  font-size: 27px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ptitle1{
  color: #1d5166;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.car-img{
  height: 130px;
  width: 190px;
}
.ptitle2{
  text-align: center;
  color: rgb(221, 199, 199);
  font-size: 28px;

}
.h-ico1{
  text-align: center;
  width: 100px;
}
.p-big{
  font-size: 41px;
  color: #eefac2;
  font-family: monospace;
  font-weight: 600;
}
.p-big1{
  font-size: 35px;
  color: #f7f8ee;
  font-family: monospace;
  font-weight: 500;

}
.fig-btn1{
  width: 220px;
  height: 80px;
  background-color: #08aeb9;
  color: #22093d;
}
.fig-btn1:hover{
  background: rgb(17, 3, 95);
  color: #cff8f8;
}

/* footer */
.footer-div{
  background-color: #0f0e0e;
  color: #fff;
  padding: 20px;
  
}
.footer-h2{
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
}

.footer-h3{
  text-align: center;
  font-weight: 400;
  color:#b5f145;
  font-size: 2.9rem;
  margin-top: 55px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.footer-ul{
  
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}
.footer-ul:hover{
  
  font-weight: 300;
  
  font-family: 'Times New Roman', Times, serif;
  
}
.footer-control{
  padding: 17px;

}
.footer-div2{
  text-align: center;
  background-color: #0f0e0e;
  color: #b5f145;
  padding:30px;
}
.form-check-label{
  color: #b5f145;
  font-size: 22px;
}
/* footer End */

/* navbar */



.pages {
  color: #535658;
  text-align: center;
  font-size: calc(1.5rem + 2vw);
  margin-top: 10%;
  margin-bottom: 10%;

  
 
}

.navbar {
  background-color: #484a55;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.main-container{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #1a1b22;
}

.nav-logo {
  color: #f5b921;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.nav-links:hover{
  color: #b5f145;
  text-decoration: none;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #ffdd40;
}

.nav-item.active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
}
.nav-links.active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1rem;
    width: 100%;
    display: table;
    
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}